@media screen and (min-width: 1011px) {

  #content {
    width:750px !important;
  }
}

/*@media screen and (max-width: 480px) {
  float: none !important;
}*/

@media screen and (max-width: 1010px) {
   
  #content {
    width: default !important;
  }

  #edit-search-keyword {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  #edit-search-submit {
    display: block !important;
    margin-top: 4em !important;
  }

  #edit-view-all {
    float: none !important;
    margin-top: 0 !important;
    display: block !important;
  }

  #edit-view-all-faculty {
    float: none !important;
    margin-top: 0 !important;
    display: block !important;
  }

  #edit-view-all-themes {
    float: none !important;
    margin-top: 0 !important;
    display: block !important;
  }
  
  #buttons {
    display: inherit !important;
  }
}

img {
  height: auto !important;
  width: 100% !important;
}

div.form-item-search-keyword > label {
  visibility: hidden;
}

#content h1:first-child{
  visibility: hidden;
}

form div p:first-child{
  margin: 10px 0 0 0;
}

input[type=submit] {
  float: none !important;
  clear: none !important;
}

.form-item {
  float: none !important;
}

#section-heading{
  text-align: center;
  font-size: 2.45em;
}

#search-bar div{
  float:none;
}

#edit-search-keyword{
  text-align: center;
  margin-left: 15%;
  display: inherit;
  font-size: 1em;
  width: 60%;
  float:left;
  height: 40px;
  padding:0px;
  text-transform:uppercase;
  border:1px solid #ccc;
 }

#edit-search-submit{
  background-color: #fcd450;
  border: none;
  font-size: 1em;
  line-height: 200%;
  text-transform: uppercase;
  float: none;
  font-weight:lighter;
  height: 42px;
  width: 120px;
  padding:0;
}

#edit-view-all{
  border: none;
  font-size: 1.1em;
  margin-top:5%;
  line-height: 150%;
  text-transform: uppercase;
  font-weight:lighter;
  height: 42px;
  width:200px;
  padding:0;
  float: none;
}

#edit-search-submit:hover{
  background-color: #000;
  color: #fcd450;
  cursor: pointer;
}

#edit-view-all-faculty{
  border: none;
  font-size: 1.1em;
  margin-top:5%;
  line-height: 150%;
  text-transform: uppercase;
  font-weight:lighter;
  height: 42px;
  width:200px;
  padding:0;
  float: none;
}

#edit-view-all-themes{
  border: none;
  font-size: 1.1em;
  margin-top:5%;
  line-height: 150%;
  text-transform: uppercase;
  font-weight:lighter;
  height: 42px;
  width:200px;
  padding:0;
  float: none;
}

#button-container{
  display: table;
  margin-top: 10%;
  margin-left: 35%;
}

#buttons-container{
  position: relative;
  text-align: center;
}

.buttons{
  margin:2%;
  display: inline;
}

#banner-div{
  text-align: center;
  /*background-color: #252525;*/
}

#banner-div h3{
  margin: 0 0 5px 0;
  color: #fcd450;
}

#banner-div p{
  padding: 0 0 5px 0;
  color: #fff;
}


div.form-item-search-keyword {
  display:inline;
}



#uw-admissions-programs-display{
  padding: 0 0 15px 0 !important;
}

@media (max-width: 1090px) {
  .menu {
    display: inline;
    list-style-type: none;
  }
}

@media (max-width: 480px) {

#edit-form-submit {
  float: none !important;
}
}