@media screen and (max-width: 1010px) {

  #edit-search-submit {
    float: none !important;
    display: block !important;
    margin-top: 4em !important;
  }
  
  #edit-view-all {
    display: block !important;
  }

  #edit-search-keyword {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
}

h1 {
	margin-top:20px;
}

div.form-item-search-keyword > label {
    visibility: hidden;
}

#form-item {
  float: none;
}

#easynav li{
	display: inline-block;
	list-style: none;
	padding: 0 0 0 0.8em;
}

input[type=submit] {
  float: none;
  clear: none;
}

#section-heading{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

#edit-search-keyword{
	text-align: center;
	margin: auto;
	margin-right: 0 !important;
	display: inherit;
	font-size: 1 em;
	text-transform: uppercase;
	line-height: 1.5em;
	width: 85%;
	height: 40px;
	float:left;
	padding:0;
	border:1px solid #ccc;
}

i#edit-search-submit{
	background-color: #fcd450;
	border: none;
	font-size: 1em;
	line-height: 170%;
	text-transform: lowercase;
	height: 42px;
	width: 110px;
	padding:0;
	float:left;
}

#edit-view-all{
	background-color: #fcd450;
	border: none;
	font-size: 1.1em;
	margin-top: 1em;
	line-height: 150%;
	text-transform: uppercase;
	height: 42px;
	width:200px;
	padding:0px;
}

#edit-view-all:hover,
#edit-search-submit:hover{
	background-color: #000;
	color: #fcd450;
	cursor: pointer;
}

#button-container{
	display: block;
}

.info-p{
	margin-bottom:5px;
}

div.form-item-search-keyword {
	display:inline;
}
