.indent {
	padding-left:40px;
}
select{
    width:300px;
    
    -ms-box-sizing-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}

table tr{
	padding-top:1px;
	padding-bottom: 1px;
}

table td{
	width:1000px;
	border:hidden;
}

.uw_request_brochure_container {
	float:left;
	min-height:100px;
	width: 650px;
}

.brochureInfo {
	float:left;
	width:400px;
}

.brochurePhoto {
	float: left;
	width:200px;
}
p.clear
{
	clear:both;
}
/* Extras */
.perfac {
	width:750px;
	height:220px;
	float:left;
	margin-bottom:15px;
}
.brochicon {
	width:120px;
	min-height:190px;
	float:left;
	margin-right:30px;
	text-align:center;	
}
.brochicon a:link, .brochicon a:visited {
	text-decoration:underline;
	color:#96172E;
}
.icontitle {
	width:475px;
	margin-left:15px;
	line-height:20px;
	float:left;
	height:30px;
}
h3 {
	width:750px;
	height:18px;
	line-height:18px;
	margin-top:30px;
	font-size: 1.2em;	
}
.pageexplain {
	width:700px;
	height:60px;
}
.requestcontainer {
	width:745px;
	min-height:365px;
	padding-bottom:20px;
}
#pickfourcontainer {
	width:650px;
	margin-top:5px;
	min-height:140px;
}
.enterdata {
	width:300px;
	float:left;
	min-height:58px;
	margin-top:-10px;
}
.expandonerror {
	width:750px;
	float:left;
	min-height:53px;
}
.cattitle {
	width:750px;
	height:20px;
	line-height:20px;
	font-weight:bold;
}
select {
    border: 1px solid #838383;
    border-style: outset;
    color: #3F3F3F;
    max-width: 268px !important;
    overflow: hidden;
}
.lineheader {
	width:750px;
	margin-bottom: .8em;
	padding-bottom: 1px;
	margin-top:15px;
	width:750px;
	font-weight:bold;	
}
form-text required {
	height:auto;
}	
#expanded {
	width:750px;
	min-height:2265px;
	display:none;
	margin-bottom:30px;
}
.brochureA {
	width:385px;
	float:left;
	line-height:20px;
	min-height:20px;
	padding-left:5px;
	padding-right:5px;
	border-bottom:1px solid #CCC;	
	color: #96172E;
}
.brochureB {
	width:344px;
	float:left;
	color:#666;
	line-height:20px;
	min-height:20px;	
	padding-left:5px;
	padding-right:5px;	
	border-bottom:1px solid #CCC;	
} 
.brochureB a:link, .brochureB a:visited {
	color:#666;
	text-decoration:none;
}
.brochureB a:hover {
	text-decoration:underline;
}
#customarea {
	width:750px;
	min-height:1300px;
}
table td {
	width:120px;
	margin-right:30px;
	height:auto;
	text-align:center;
	color:#039;
}